<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title SuperAprendo
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	link(rel="stylesheet", href="css/fontawesome-all.min.css")
	link(rel="stylesheet", href="css/estilos.css")
body
	section.portada
		.margen
			header.header
				figure.logo
					img.imagen(src="img/logo.png", alt="fondo")
				.copy
					h1.title Aprendo con tus personajes favoritos
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore inventore eligendi nulla quibusdam mollitia consectetur ducimus illo cumque consequuntur.
					a.btn(href="#") Entra a tu primera clase
				.fondo
	section.trabajamos
		.margen
			h2.title Como trabajamos
			p.descripcion Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima corporis natus facilis molestias totam eligendi repudiandae nostrum? Incidunt dicta quibusdam, repudiandae, molestiae quos esse quia, nobis culpa quo ex nam natus aperiam! Dolore temporibus atque, ipsa.
			.grid
				.item
					img(src="img/ver-clase.png", alt="ver clase")
					p.informacion Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				.item
					img(src="img/certificado.png", alt="certificado")
					p.informacion Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				.item
					img(src="img/contacto-empresa.png", alt="contacto empresa")
					p.informacion Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				.item
					img(src="img/hacer-trabao.png", alt="hacer el trabajo")
					p.informacion Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	